{% extends 'admin/admin_fi/eg/ajax_crud/base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'admin/eg/ajax_crud.js' %}"></script>
{% endblock %}


{% block content %}
  <h1 class="page-header">Lenguage</h1>

  <!-- BUTTON TO TRIGGER THE ACTION -->
  <p>
    <button type="button"
            class="btn btn-primary js-create-book"
            data-url="{% url 'ajax_crud_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New Language
    </button>
  </p>


 <h1 class="page-header">Books</h1>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>description</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% include 'admin/admin_fi/eg/ajax_crud/ajax_crud_list.html' %}
    </tbody>
  </table>

  <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}
